.hero-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 100px 100px;
}

.animals {
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.animals img {
  width: 100%;
  height: 500px;
  display: block;
  transition: transform 0.4s;
}

.animals img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.animal-title {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .hero-container {
    padding: 100px 70px 50px 70px;
  }
}

@media screen and (max-width: 1150px) {
  .animals img {
    height: 400px;
  }
}

@media screen and (max-width: 900px) {
  .animals img {
    height: 350px;
  }
}

@media screen and (max-width: 834px) {
  .animals img {
    height: 300px;
  }
}

@media screen and (max-width: 660px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .animals {
    width: 100%;
  }

  .animals img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .hero-container {
    padding: 100px 50px 50px 50px;
  }
}

@media screen and (max-width: 400px) {
  .hero-container {
    padding: 100px 30px 50px 30px;
  }
}
