.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 100px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  z-index: 1000;
  background-color: white;
}

.navbar-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  font-size: 24px;
  font-weight: 500;
  margin-right: 50px;
  font-family: "DM Serif Display", serif;
}

.nav-tabs a {
  margin: 0;
  text-decoration: none;
  color: black;
  transition: all 0.4s ease-in-out;
}

.nav-tabs:hover {
  cursor: pointer;
}

.nav-tabs:hover a:hover {
  color: #eb1d19;
}

a.active-tab {
  color: #eb1d19;
}

.menu-icon {
  display: none;
}

.nav-btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 5px;
}

.nav-btn:hover {
  cursor: pointer;
}

.fa-xmark,
.fa-bars {
  font-size: 28px;
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 15px 70px;
  }
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar.open {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    width: 300px;
    height: 100vh;
    padding: 15px 30px;
    padding-bottom: 50px;
    gap: 70px;
    background-color: #cbeef3;
  }

  .navbar-btn {
    display: none;
  }

  .navbar-btn.open {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }

  .nav-tabs.open {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 15px 50px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    padding: 15px 30px;
  }
}
