body.modal-open {
  overflow: hidden;
}
.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 100px;
}

.gallery-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 14px;
  font-size: 28px;
  margin-top: 30px;
  color: #669bbc;
  cursor: pointer;
}

.active {
  font-size: 52px;
  color: #003049;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.filter select {
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 20px;
  background: #e9eef0;
  border: 1px solid #d5d9db;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter select:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #84a2fa;
}

.search {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.search-input {
  font-size: 16px;
  line-height: 1.5;
  background: #e9eef0;
  border: 1px solid #d5d9db;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='%238C92A0' d='M11.44 10.73l4.41 4.42a.5.5 0 1 1-.7.7l-4.42-4.41a6.5 6.5 0 1 1 .7-.7v-.01zM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 15px 10px;
  background-size: 20px 20px;
  border-radius: 100px;
  width: 400px;
  padding: 0.5em 1em 0.5em 2.5em;
}

.search-input::placeholder {
  color: #838d99;
}

.search-input:focus {
  outline: none;
  background-color: #fff;
  border: 1px solid #84a2fa;
}

.animal-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  box-sizing: border-box;
}

.animal-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  border: 1px solid #838d99;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.animal-card:hover {
  cursor: pointer;
}

.animal-card img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.4s;
}

.animal-card img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: 50% 50%;
}

.animal-card .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  margin: 0;
}

.info .info-title {
  font-weight: 600;
  margin: 0;
}

.info .info-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
}

.modal-window {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-window.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 70%;
  /* height: 85%; */
  font-size: 20px;
  overflow-y: auto !important;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.animal-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  overflow-y: auto;
}

.animal-info .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.animal-info h1 {
  width: 100%;
  color: black;
}

.animal-info ul {
  margin-left: 40px;
}

.animal-info img {
  width: 200px;
  height: 200px;
  align-self: center;
}

.animal-info img:hover {
  transform: none;
}

@media screen and (max-width: 1440px) {
  .info .info-value {
    width: 150px;
  }
}

@media screen and (max-width: 1300px) {
  .animal-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .gallery-container {
    padding: 50px 70px;
  }
}

@media screen and (max-width: 1160px) {
  .info .info-value {
    width: 150px;
  }
}

@media screen and (max-width: 1070px) {
  .animal-cards {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .animal-card {
    width: 85%;
  }

  .info .info-value {
    width: 250px;
  }

  .filters {
    flex-direction: column;
    gap: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 992px) {
  .modal-window {
    padding-top: 100px;
    height: 88%;
  }

  .animal-info {
    flex-direction: column;
  }
  .modal-content {
    height: 85%;
  }
}

@media screen and (max-width: 985px) {
  .info .info-value {
    width: 200px;
  }
  .animal-cards {
    gap: 30px;
  }

  .animal-card {
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .info .info-value {
    width: 180px;
  }
  .animal-cards {
    gap: 20px;
  }
}

@media screen and (max-width: 780px) {
  .info .info-value {
    width: 150px;
  }

  .search-input {
    width: 350px;
  }
}

@media screen and (max-width: 724px) {
  .animal-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .animal-card {
    width: 80%;
  }

  .info .info-value {
    width: 250px;
  }

  .search-input {
    width: 300px;
  }
}

@media screen and (max-width: 580px) {
  .animal-card {
    width: 100%;
  }

  .filters select {
    font-size: 16px;
  }

  .animal-info .info {
    font-size: 20px;
  }
}

@media screen and (max-width: 540px) {
  .info .info-value {
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .gallery-container {
    padding: 50px 50px;
  }

  .info .info-value {
    width: 200px;
  }

  .search-input {
    width: 200px;
  }

  .animal-info .info {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .info .info-value {
    width: 180px;
  }
}

@media screen and (max-width: 420px) {
  .info .info-value {
    width: 150px;
  }
}

@media screen and (max-width: 400px) {
  .gallery-container {
    padding: 50px 30px;
  }

  .info .info-value {
    width: 170px;
  }
}
